.ls-header {
  &__logo {
    height: 2rem;
    width: 2rem;

    margin-left: 1rem;

    border-radius: 0.25rem;
  }

  &__nav-main {
    justify-content: center;
    column-gap: 0.5rem;

    ion-button {
      font-size: 1rem;
    }
  }

  &__nav-end {
    ion-button {
      height: 3rem;
      width: 3rem;

      margin: 0;
    }
  }
}
