.ls-page-user-list {
  .ls-toolbar-search {
    --padding-start: 9px;
    --padding-end: 9px;

    ion-searchbar {
      --border-radius: 0.25rem;
    }
  }

  .page-header {
    margin-top: 1rem;
  }

  .list-user {
    margin-top: 1rem;
    margin-bottom: 5rem;
  }
}
