.list-item-user {
  --inner-padding-bottom: 0.5rem;
  --inner-padding-top: 0.5rem;

  .avatar {
    border-radius: 0.25rem;

    font-size: 1.5rem;

    margin-right: 1rem;
  }

  .content-row {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    row-gap: 0.25rem;

    &.primary {
      font-weight: 500;
      line-height: 1.5rem;
    }

    &.secondary {
      font-size: 0.85rem;
      line-height: 1.1rem;
      color: var(--ion-color-medium);
    }

    > * {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      text-wrap: nowrap;
    }
  }
}
