.page-header {
  &.row-header {
    font-size: 1.5rem;
    line-height: 2rem;

    ion-buttons {
      margin-left: auto;

      ion-button {
        height: 3rem;
        width: 3rem;

        margin: 0;
      }
    }
  }
}

// .page-header {
//   border-bottom-color: var(--ion-color-light);
//   border-bottom-style: solid;
//   border-bottom-width: 1px;

//   padding: 0.25rem 0.5rem;

//   align-items: center;
//   justify-content: space-between;

//   .title {
//     font-size: 1.5rem;
//     font-weight: 500;
//     text-transform: uppercase;
//   }

//   ion-buttons {
//     ion-button {
//       height: 3rem;
//       width: 3rem;

//       margin: 0;
//     }
//   }
// }
