.ls-page-header {
  &.row-header {
    font-size: 1.5rem;
    line-height: 2rem;

    ion-buttons {
      margin-left: auto;

      ion-button {
        height: 3rem;
        width: 3rem;

        margin: 0;
      }
    }
  }
}
