.company_detail {
  margin-bottom: 1rem;

  .header {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    font-size: 1.25rem;
    font-weight: 700;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--ion-color-light);

    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .content {
    .primary {
      font-weight: 700;
    }
  }
}
