.avatar {
  height: 1.5rem;
  width: 1.5rem;

  font-size: 1rem;
  line-height: 0;

  overflow: hidden;

  border-radius: 0.25rem;

  &.avatar-round {
    border-radius: 50%;
  }

  &.avatar-square {
    border-radius: 0;
  }

  &.avatar-small {
    height: 1.25rem;
    width: 1.25rem;

    font-size: 0.875rem;
  }

  &.avatar-large {
    height: 2rem;
    width: 2rem;

    font-size: 1.5rem;
  }

  .initial {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    font-weight: 700;
  }

  .primary {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
  }

  .secondary {
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
  }

  .tertiary {
    background-color: var(--ion-color-tertiary);
    color: var(--ion-color-tertiary-contrast);
  }

  .success {
    background-color: var(--ion-color-success);
    color: var(--ion-color-success-contrast);
  }

  .warning {
    background-color: var(--ion-color-warning);
    color: var(--ion-color-warning-contrast);
  }

  .danger {
    background-color: var(--ion-color-danger);
    color: var(--ion-color-danger-contrast);
  }
}
