.ls-avatar {
  height: 1.5rem;
  width: 1.5rem;

  font-size: 1rem;
  font-weight: 500;
  line-height: 0;

  overflow: hidden;

  --border-radius: 0.25rem;

  &.ls-avatar-round {
    --border-radius: 50%;
  }

  &.ls-avatar-square {
    --border-radius: 0;
  }

  &.ls-avatar-small {
    height: 1.25rem;
    width: 1.25rem;

    font-size: 0.875rem;
  }

  &.ls-avatar-large {
    height: 2rem;
    width: 2rem;

    font-size: 1.5rem;
    font-weight: 700;
  }

  .ls-avatar-initial {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
  }

  .ls-avatar-color-primary {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
  }

  .ls-avatar-color-secondary {
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
  }

  .ls-avatar-color-tertiary {
    background-color: var(--ion-color-tertiary);
    color: var(--ion-color-tertiary-contrast);
  }

  .ls-avatar-color-success {
    background-color: var(--ion-color-success);
    color: var(--ion-color-success-contrast);
  }

  .ls-avatar-color-warning {
    background-color: var(--ion-color-warning);
    color: var(--ion-color-warning-contrast);
  }

  .ls-avatar-color-danger {
    background-color: var(--ion-color-danger);
    color: var(--ion-color-danger-contrast);
  }
}
