.ls-error-fallback-page {
  &__container {
    max-width: 576px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__button-row {
    margin-top: 4rem;

    ion-button {
      min-width: 12rem;
    }
  }
}
