/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
  /* media breakpoints */
  --ls-breakpoint-xs: 0px;
  --ls-breakpoint-sm: 576px;
  --ls-breakpoint-md: 768px;
  --ls-breakpoint-lg: 992px;
  --ls-breakpoint-xl: 1200px;
}
