.ls-app-menu {
  ion-title {
    font-size: 1rem;

    ion-row {
      column-gap: 0.5rem;
      flex-wrap: nowrap;

      > * {
        min-width: 0;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .ls-avatar {
        flex-shrink: 0;
      }
    }
  }

  .ls-icon {
    margin-right: 1rem;

    opacity: 0.5;
  }
}
