.ls-select-input {
  display: flex;
  flex-direction: column;

  &--expand-full {
    width: 100%;
  }

  &__select {
    &.ion-invalid {
      color: var(--ion-color-danger);
    }
  }

  &__error {
    padding: 0.375rem 0 0.375rem 0;

    border-top-color: var(--ion-color-danger);
    border-top-width: 1px;
    border-top-style: solid;
  }
}
