.page-account {
  ion-split-pane {
    margin-top: 3.5rem;

    --border: transparent;
  }

  ion-list {
    background-color: transparent;

    ion-list-header {
      ion-label {
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    ion-item {
      --background: transparent;
    }
  }
}
