.block {
  margin: 0.75rem;
  .block-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  .block-content {
    color: var(--ion-color-medium);
    margin-bottom: 0.5rem;
  }
}
