.form_user_edit {
  max-width: 45rem;

  margin: 1rem 0;

  section {
    .section_heading {
      align-items: center;
      column-gap: 0.5rem;

      padding-bottom: 0.25rem;
      margin-bottom: 0.25rem;

      font-size: 1.25rem;
      font-weight: 700;

      border-bottom-color: var(--ion-color-light);
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
  }

  ion-input {
    margin-bottom: 0.5rem;
  }

  .buttons {
    display: flex;

    ion-button {
      width: 100%;
    }

    .spinner_button_save {
      ion-spinner {
        height: 16px;
        width: 16px;
      }
    }
  }

  .row_message {
    margin: 1rem 0;

    &.row_card .wrapper {
      width: 80% !important;
    }
  }
}
