.form-signin {
  .heading {
    font-size: 1.25rem;
    font-weight: 700;

    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;

    border-bottom-color: var(--ion-color-light);
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  ion-input {
    margin-bottom: 0.5rem;
  }

  ion-button {
    margin-top: 2rem;
  }

  .row-message {
    margin: 1rem 0;

    &.row-card {
      @media (min-width: 576px) {
        .wrapper {
          width: 80% !important;
        }
      }
    }
  }
}
