.form-signin {
  .row-header {
    margin-bottom: 0.25rem;
  }

  ion-input {
    margin-bottom: 0.5rem;
  }

  ion-button.button-submit {
    margin-top: 2rem;
  }
}

.form-signin-popover {
  .inline-code {
    font-family: monospace;
    font-size: 1rem;
    color: var(--ion-color-medium);
  }
}
