.row-card {
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 100%;
  }

  // xs
  @media (max-width: 575px) {
  }
  // sm
  @media (min-width: 576px) {
    .wrapper {
      width: 80%;
    }
  }
  // md
  @media (min-width: 768px) {
    .wrapper {
      width: 60%;
    }
  }
  // lg
  @media (min-width: 992px) {
    .wrapper {
      width: 50%;
    }
  }
  // xl
  @media (min-width: 1200px) {
    .wrapper {
      width: 40%;
    }
  }
}
