.ls-message-card {
  margin: 0;

  .ls-message-card-title-block {
    display: flex;
    flex-direction: row;
    align-items: center;

    .ls-message-card-icon {
      margin-right: 0.5rem;

      font-size: 1.25rem;
    }
  }
}
